.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.button-submit {
  color: white;
  background-color: var(--greenColor);
}

.result-card {
  padding: 15px;
  border-radius: 5px;
  background-color: var(--grayColor);
}
