@import "../../../../vars";

.root {
  height: 100%;
  display: flex;
}
.main-menu {
  width: 70px;
  background-color: var(--grayColor);
}
.sub-menu {
  padding-top: 10px;
  padding-left: $defaultPagePaddingX;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  color: var(--grayTextColor);
}

.active-menu-item {
  color: red;
  background-color: white;
}

.active-submenu-item {
  color: cornflowerblue;
}
