<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Название</th>
    <td mat-cell *matCellDef="let mailing">{{ mailing.name }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Статус</th>
    <td mat-cell *matCellDef="let mailing">{{ mailing.status }}</td>
  </ng-container>

  <ng-container matColumnDef="sendCount">
    <th mat-header-cell *matHeaderCellDef>Отправлено</th>
    <td mat-cell *matCellDef="let mailing">{{ mailing.sendCount }}</td>
  </ng-container>

  <ng-container matColumnDef="viewCount">
    <th mat-header-cell *matHeaderCellDef>Просмотров</th>
    <td mat-cell *matCellDef="let mailing">{{ mailing.viewCount }}</td>
  </ng-container>

  <ng-container matColumnDef="clickCount">
    <th mat-header-cell *matHeaderCellDef>Кликов</th>
    <td mat-cell *matCellDef="let mailing">{{ mailing.clickCount }}</td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Создана</th>
    <td mat-cell *matCellDef="let mailing">{{ mailing.createdAt }}</td>
  </ng-container>

  <ng-container matColumnDef="agent">
    <th mat-header-cell *matHeaderCellDef>Агент</th>
    <td mat-cell *matCellDef="let mailing">{{ mailing.agent }}</td>
  </ng-container>

  <ng-container matColumnDef="tools">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let mailing">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <span mat-menu-item *ngIf="mailing.type !== 'DRAFT'"
          >Нет доступных операций</span
        >
        <button
          mat-menu-item
          *ngIf="mailing.type === 'DRAFT'"
          (click)="handleEvent('edit', mailing)"
        >
          Редактировать
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
